/*------ IMPORT CDN FONTS ------*/

@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://fonts.cdnfonts.com/css/apple-ii-screen-typeface');

/*------ GLOBAL RULES ------*/

html {
  box-sizing: border-box;
  font-family: "Digital-7 Mono", "Lato", sans-serif;
  line-height: 1.2;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(40, 5.45%, 10.78%);
  min-height: 100vh;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------ WRAPPER INSIDE THE BODY ------*/

.wrapper-page {
  flex-basis: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.wrapper-page>* {
  width: 100%;
}

/**------ WRAPPER'S CONTENTS [HEADER] ------**/

.page-title {
  background: linear-gradient(45deg, #83a6cf, #9f56bf, #39f252, #3c3cf7, #67cfb2);
  background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: 10px;
  margin: 20px auto;
}

/**------ WRAPPER'S CONTENTS [SECTION - 02] ------**/

.display {
  background-color: hsla(112, 32%, 46%, 1);
  width: 95%;
  margin: 20px auto;
  font-size: 1.5rem;
  padding: 10px;
  border: ridge 10px hsl(0, 0%, 0%);
  overflow: hidden;
  text-align: end;
}

.display h2 {
  overflow: scroll;
  height: 95px;
  display: flex;
  flex-direction: column-reverse;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.display h2::-webkit-scrollbar {
  display: none;
}

/**------ WRAPPER'S CONTENTS [MAIN] ------**/

.calc-buttons,
.calc-buttons>*,
.rows,
.rows .column,
.column div,
.signs-column {
  display: flex;
}

.calc-buttons {
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  width: 95%;
  margin: 0 auto;
  border: ridge .5rem hsl(0, 0%, 0%);
  gap: .2rem;
}

/***------ MAIN'S CONTENTS ------***/

.calc-buttons>* {
  flex-basis: 100%;
}

.rows button {
  border: none;
  background-color: hsla(30, 3%, 85%, 1);
  padding: 25px;
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  min-width: 30px;
  transition: all .4s ease-in-out;
  border-radius: 5px;
}

.rows .column-2 {
  flex-basis: 50%
}

/****------ MAIN'S CONTENTS [NUMBERS CONTAINER] ------****/

.rows button[data-key="Delete"] {
  background-color: hsla(23, 88%, 61%, 1);
}

.rows button[data-key="."] {
  background-color: hsla(56, 88%, 61%, 1);
}

.numbers-container {
  flex-wrap: wrap;
  flex-basis: 120%;
}

.numbers-container>*,
.rows button {
  flex-basis: 100%;
}

.numbers-container,
.numbers-container .rows,
.column,
.column div {
  gap: .5rem;
}

.numbers-container .rows .column {
  flex-direction: column;
  width: 100%;
}

/****------ MAIN'S CONTENTS [SIGNS CONTAINER] ------****/

.rows button[data-key="="] {
  background-color: hsla(118, 76%, 72%, 1);
}

.rows button[data-key="Clear"] {
  background-color: hsla(0, 76%, 64%, 1);
}

.rows button[data-key="+"],
.rows button[data-key="-"],
.rows button[data-key="*"],
.rows button[data-key="/"],
.rows button[data-key="%"],
.rows button[data-key="^"],
.rows button[data-key="+/-"] {
  background-color: hsla(215, 88%, 61%, 1);
}

.signs-container,
.signs-column,
.rows.signs,
.signs-container .rows {
  gap: .5rem;
}

.signs-container,
.signs-column {
  flex-direction: column;
}

.signs-container .rows,
.signs-column.column-2 button,
.signs-container,
.signs-column {
  flex-basis: 100%;
}

.signs-container .rows .column-2 {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.signs-column.column-2 button {
  letter-spacing: 10px;
}

.signs-container {
  border-left: ridge .5rem hsl(0, 0%, 0%);
}

/**------ WRAPPER'S CONTENTS [FOOTER] ------**/

.page-footer {
  background: linear-gradient(90deg, #eac99a, #7193d3, #6c6d8e, #f56c2d, #f9596d);
  margin: 10px auto;
  width: 95%;
  background-clip: text;
  color: transparent;
  text-align: end;
  font-family: "Apple II Screen Typeface", "Digital-7 Mono", "Lato", sans-serif;
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: .9rem;
}

/**------ HOVER OVER RULES ------**/

.rows button:hover {
  transform: scale(0.9);
  box-shadow: 0 0 15px hsla(30, 3%, 85%, 1);
}

.rows button[data-key="Delete"]:hover {
  box-shadow: 0 0 15px hsla(23, 88%, 61%, 1);
}

.rows button[data-key="="]:hover {
  box-shadow: 0 0 15px hsla(118, 76%, 72%, 1);
}

.rows button[data-key="."]:hover {
  box-shadow: 0 0 15px hsla(56, 88%, 61%, 1);
}

.rows button[data-key="Clear"]:hover {
  box-shadow: 0 0 15px hsla(0, 76%, 64%, 1);
}

.rows button[data-key="+"]:hover,
.rows button[data-key="-"]:hover,
.rows button[data-key="*"]:hover,
.rows button[data-key="/"]:hover,
.rows button[data-key="%"]:hover,
.rows button[data-key="^"]:hover,
.rows button[data-key="+/-"]:hover {
  box-shadow: 0 0 15px hsla(215, 88%, 61%, 1);
}
